
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        Sign in to a government service
    </h1>{{releaseVersion | log }}
      <p>
        Different government services have different ways to sign in - Government Gateway, Defra account, Verify, and so on. The purpose of this page is to make it easier to find government accounts
      </p>
    <h2 class="govuk-heading-l">Initial page</h2>
      <p class="govuk-body">Initially we propose publishing a page on GOV.UK that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>signposts users to the most commonly used services on GOV.UK</li>
      <li>lets people search for other services not on the list (either on the page or by funnelling them to the GOV.UK search page)</li>
      <li>does not talk about the GOV.UK account yet</li>
    </ul>
    <p><a href="/version1" class="govuk-body govuk-link">Initial version (no GOV.UK account)</a></p>
    <h3 class="govuk-heading-m">How would users get to this page?</h3>
    <p>Through the current GOV.UK account sign in and create account journeys. One example of this the page that the user gets to if they are trying to sign in to the gov.uk account with an email that is not recognised.</p>
    <p><a href="/start" class="govuk-body govuk-link">Unrecognised email page</a></p>

      <h2 class="govuk-heading-l">How the page could evolve over time</h2>
      <p>
        There will be an awkward phase of some services being accessible through the account and some being accessed in other ways. This version includes the GOV.UK account as an option and outlines the services that can be accessed with it.
      </p>
      <p><a href="/version2" class="govuk-body govuk-link">Version with GOV.UK account</a></p>
      <p>
        Once the GOV.UK account has many more services onboarded, the messaging will need to explain how signing into those services has changed.
      </p>
      <p><a href="/version3" class="govuk-body govuk-link">Version with many services onboarded to the GOV.UK account</a></p>
    </div>

  </div>

{% endblock %}
