
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <strong class="govuk-tag">
  in progress
</strong>
      <h1 class="govuk-heading-xl">
        Sign in to a government service
      </h1>{{releaseVersion | log }}

      <p>
        The purpose of this page is to make it easier to find government accounts
      </p>
      <a href="/start" class="gouk-link govuk-heading-m">Sign in to a government service</a>


    </div>
  </div>

{% endblock %}
