{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        The way you sign in to government services is changing
      </h1>

      <p>At the moment, there are separate accounts for signing in to different government services.</p>

      <p>We’re working on building a new GOV.UK account where you’ll be able to access all government services in one place. Currently you can only use this account for a few services.</p>

      <h2 class="govuk-heading-m">Choose a government service to sign in to</h2>
      <p>These are the most viewed government services on GOV.UK:</p>

<div class="govuk-service-list">

  <div class="govuk-service-list-item govuk-service-list-item-account govuk-service-list-item-last">
    <div>
      <strong class="govuk-tag">
        new
      </strong>
        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-heading-m">GOV.UK account</a>
        <p>This new GOV.UK account is still being built. In future, you’ll be able to use it to access all  your government services and manage your details in one place.</p>
        <p class="govuk-body">For now you can only use this account for these services:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Get a DBS check</li>
        <li>Apply for a fishing licence</li>
        <li>Manage your armed forces pensions</li>
        <li>Manage your GOV.UK emails</li>
      </ul>
    </div>
  </div>

  <div class="govuk-service-list-item govuk-service-list-item-first">
    <div>
        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-heading-m">Universal Credit</a>
        <p>See and update your Universal credit claim.</p>
    </div>
  </div>

  <div class="govuk-service-list-item">
    <div>
        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-heading-m">HMRC services</a>
        <p>Sign in to HMRC services using Government Gateway or GOV.UK Verify.</p>
    </div>
  </div>

  <div class="govuk-service-list-item">
    <div>
        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-heading-m">Check your State Pension forecast</a>
        <p>Find out how much State Pension you could get and when.</p>
    </div>
  </div>

  <div class="govuk-service-list-item">
    <div>
        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-heading-m">Manage your student loan balance</a>
        <p>See your student loan balance and manage your repayments.</p>
    </div>
  </div>

  <div class="govuk-service-list-item govuk-service-list-item-last">
    <div>
        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-heading-m">Make or update a rural payments claim</a>
        <p>Apply for rural grants and payments.</p>
    </div>
  </div>

</div>
      <h2 class="govuk-heading-m">If the service you’re looking for is not listed</h2>

      <p>If you’re looking for a different service, you can search for it.</p>

      <div class="govuk-input-container">
        <img class="img-2" src="/public/images/icon-search.svg">
        <input class="govuk-input govuk-!-width-two-thirds" id="event-name" name="event-name" type="text">
      </div>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Search
</button>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items govuk-!-display-none" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
